.symbol{
    margin-left:1270px;
    color: brown;
    font-size: 50px;
}
.main{
    background-color: whitesmoke;
    height: 900px;
    width: 100%;
}
.list ul{
    list-style: none inside;
   
}
.list ul li a:link,.list ul li a:visited{
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    line-height: 80px;
    margin-left: 100px;
    font-size: 30px;

}
.list ul li a:hover{
    color: rgb(182, 107, 15);
}
.log{
    margin-left: 100px;
    margin-bottom: 30px;
    margin-right: 40px;
    color: rgb(182, 107, 15);
}
